Flask>=3.1.0
flask-cors>=4.0.0
numpy>=2.0.0
pandas>=2.2.0
PyMySQL>=1.1.0
Flask-SQLAlchemy>=3.1.0
opencv-python-headless>=4.11.0.86
ultralytics>=8.3.0
torch>=2.0.0
scipy>=1.14.0
lapx>=0.5.0
filterpy>=1.4.5
flask-jwt-extended>=4.6.0
flask-bcrypt>=1.0.1
requests
